In [1]:
print("Hello World");

Hello World

In [2]:
print("Hello Fahim");

Hello Fahim

In [3]:
(10+10)/2

10.0

In [29]:
Country = "England";  # country is a variable and England is a assigned value 
Team = "England_Cricket";
match=15;
age =30;

print(Country); # we print the value by calling the variable name 
print(Team);
print(match);
print(age);

England
England_Cricket
15
30

In [17]:
# for the statement 
10*3==30

True

In [33]:
if age >= 18:
    print('Adult')
else:
    print('Minor')

Adult

In [34]:
#loop
for number in [1,2,3,4,5,6,7,8,9,10]:
    print(number);

1
2
3
4
5
6
7
8
9
10

In [35]:
my_list = [1,2,3,4,5,6] #store my number in a variable called my_list

for x in my_list: # run a loop from x to my_list
    print(x/3); #print the number of my_list is divided by 3

0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666667
2.0

In [36]:
# conditional functions with many more condition. we've seen  confitional statement earlier eg. age is greater than 18 return 
#adult else return minor. in this block we'll see how the functions work and how to use it.

def is_adult (age):
    
    if age >= 18:
        print('adult')
        
    else:
        print('minor')
        
is_adult(14);

minor

In [39]:
# Built-in functions 

new_list = [1,5,8,9,10,15,78,49,25] 
sorted(new_list) # here sorted is the built-in functions that helps us to automatically re-arrange our number from A-Z order.

[1, 5, 8, 9, 10, 15, 25, 49, 78]